nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #1E1E1E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 55px;
  z-index: 9999;
}

nav img {
  width: 50%;
}

nav .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

nav .hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

nav .hamburger .line.open:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

nav .hamburger .line.open:nth-child(2) {
  opacity: 0;
}

nav .hamburger .line.open:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

nav ul li {
  list-style: none;
  position: relative;
}

nav ul li a {
  font-size: 22px;
  font-weight: 400px;
  color: #ffff;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #1DB954;
  border-radius: 1px;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: #1DB954;
}

@media (max-width: 768px) {
  nav {
    padding: 20px;
  }

  nav .hamburger {
    display: flex;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s;
  }

  nav ul.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  nav ul li a {
    font-size: 16px;
  }
}

.home {
  width: 80%;
  margin: auto;
  padding: 120px 20px 40px;
}

.home .texthero {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.texthero h2 {
  font-size: 40px;
  font-weight: 700px;
  margin-bottom: 30px;
}

.texthero p {
  font-size: 24px;
  font-weight: 400px;
}

.home .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.home .info h2 {
  font-size: 40px;
  font-weight: 700px;
  margin-bottom: 30px;
}

.home .info .img-text {
  position: relative;
  width: 50%;
}

.home .info .img-text  img {
  width: 100%;
}

.home .info .img-text .info-name {
  position: absolute;
  left: 0;
  right: 0;
  width: fit-content;
  margin: auto;
  bottom: 25px;
  backdrop-filter: blur(5px);
  padding: 20px 30px;
  font-size: 24px;
}


@media (max-width: 768px) {
  .home {
    width: 100%;
  }
  
  .texthero h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .texthero p {
    font-size: 24px;
  }

  .home .info h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .home .info .img-text {
    position: relative;
    width: 80%;
  }

  .home .info .img-text .info-name {
    bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
  }
}

@media (max-width: 408px) {
  .home .info .img-text {
    width: 100%;
  }

  .home .info .img-text .info-name {
    bottom: 20px;
    padding: 5px 15px;
    font-size: 18px;
  }
}

.about {
  width: 80%;
  margin: auto;
  padding: 120px 20px 40px;
}

.about  .img-text {
  width: 40%;
  margin: auto;
  margin-bottom: 50px;
}

.about .img-text  img {
  width: 100%;
}

.about .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.about .details h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
}

.about .text-name {
  margin-bottom: 40px;
}

.about .text-name li {
  font-weight: 400;
  font-size: 20px;
}

.about .text-name li strong {
  font-weight: bold;
}

.about .text-prof {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 40px;
}

.about .details p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .about {
    width: 100%;
  }
  
  .about .details h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .about .text-name {
    margin-bottom: 20px;
  }

  .about .text-name li {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .about .img-text {
    width: 80%;
  }

  .about .details p {
    font-size: 18px;
  }

  .about .text-prof {
    margin-bottom: 20px;
  }
}

@media (max-width: 408px) {
  .about .details h2 {
    margin-bottom: 5px;
  }
  .about .img-text {
    width: 100%;
    margin-bottom: 20px;
  }
}

.contact-section {
  width: 80%;
  margin: auto;
  padding: 120px 20px 40px;
}

.contact-section  .img-text {
  width: 40%;
  margin: auto;
  margin-bottom: 50px;
}

.contact-section .img-text  img {
  width: 100%;
}

.contact-section .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.contact-section .details h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
}

.contact-section .details span {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-section .text-name li {
  font-weight: 400;
  font-size: 20px;
}

.contact-section .social {
  font-size: 20px;
}

.contact-section .social strong a {  
  color: white;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contact-section {
    width: 100%;
  }
  
  .contact-section .details h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .contact-section .text-name {
    margin-bottom: 20px;
  }

  .contact-section .text-name li,   
  .contact-section .social strong a {
    font-size: 18px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .contact-section .img-text {
    width: 80%;
  }
}

@media (max-width: 408px) {
  .contact-section .details h2 {
    margin-bottom: 5px;
  }
  .contact-section .img-text {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Scroll Top */
.scroll-to-top {
  position: fixed;
  bottom: 1.7rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #1DB954;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  color: #1DB954;
  background-color: #fff;
}

@media (max-width: 768px) {
  .scroll-to-top {
    bottom: 1.6rem;
    width: 45px;
    height: 45px;
    font-size: 15px;
  }
}

/* Asssignment */
.assignment-uploader {
  position: fixed;
  top: 69px;
  right: 0;
  left: 0;
  padding: 20px;
  border-radius: 12px;
}

.hidden-upload-btn {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  padding: 2px 3px;
  border: none;
  transition: all 0.3s ease;
  border-radius: 5px;
  z-index: 99px;
}

.hidden-upload-btn:hover {
  background-color: goldenrod;
}

.hidden-upload-btn i {
  color: #fff;
  background-color: transparent;
}

.hidden-upload-button:focus {
  outline: none;
}

.assignment-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.assignment-list .assignment-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid goldenrod;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.assignment-list .assignment-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.assignment-list .list-question {
  color: #333;
  max-height: 100px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.assignment-list .assignment-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.assignment-list li, .question li, .assignment-content li {
  font-size: 18px;
  margin-left: 20px;
}

.assignment-list .assignment-item .assignment-date {
  font-size: 14px;
  color: #888;
}

.assignment-list .assignment-item .view-link {
  align-self: flex-start;
  color: #4a90e2;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.assignment-list .assignment-item .view-link:hover {
  color: goldenrod;
}

.modal-overlay {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
  width: 90%;
  max-width: 642px;
  max-height: 500px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  animation: fadeIn 0.3s ease;
  overflow: auto;
}

.modal-content .detail {
  color: goldenrod;
}

.modal-note {
  color: #333;
  margin: 10px 0;
}

.modal-content h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* .modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline-color: goldenrod;
  transition: all 0.2s ease;
}

.modal-content input:focus-within {
  font-size: 20px;
} */

.modal-question {
  margin-bottom: 15px !important;
}

.modal-question .quill {
  width: 100% !important;
  height: auto !important;
}

.modal-question .quill img {
  width: 10% !important;
  margin: auto !important;
}

.modal-question .quill .ql-container{
  font-size: 16px !important;
  height: 51% !important;
}

.modal-content .react-quill {
  margin-bottom: 15px;
}

.modal-content .quill {
  width: 100%;
  height: 316px;
}

.modal-content .quill img {
  width: 30%;
  margin: auto;
}

.modal-content .quill .ql-container{
  height: 86%;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.modal-content button {
  background: goldenrod;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.modal-content button:hover {
  background: goldenrod;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #888;
  cursor: pointer;
}

.modal-close:hover {
  color: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loading-indicator {
  position: absolute;
  top: -69px;
  left: 0;
  right: 0;
  color: goldenrod;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-message {
  color: lightgreen;
  font-size: 1rem;
  margin-top: 1rem;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 15rem;
}

@media (max-width: 768px) {
  .modal-content {
    width: 100%;
  }
}

@media (max-width: 668px) {
  .modal-overlay {
    align-items: normal;
    justify-content: normal;
  }
  .modal-content {
    margin-top: 48px;
    border-radius: 0;
    max-height: 90vh;
  }

  .modal-question .quill .ql-container{
    height: 40% !important;
  }

  .modal-content .quill .ql-container{
    height: 79%;
  }
}

@media (max-width: 408px) {
  .modal-question .quill .ql-container{
    height: 37% !important;
  }

  .modal-content .quill .ql-container{
    height: 72%;
  }
}

@media (max-width: 296px) {
  .modal-question .quill .ql-container{
    height: 29% !important;
  }

  .modal-content .quill .ql-container{
    height: 64%;
  }
}

.viewBox {
  display: flex;
  padding: 100px 20px 40px;
  color: #1E1E1E;
}

.view-assignment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.details-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.answer {
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  text-decoration: underline;
}

.assignment-content {
  color: #1E1E1E;
}

.assignment-content p img {
  width: 20%;
  margin: auto;
}

@media (max-width: 1115px) {
  .view-assignment {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .view-assignment {
    width: 90%;
  }
}

@media (max-width: 562px) {
  .viewBox {
    padding: 69px 0 0;
  }
  .view-assignment {
    width: 100%;
    border-radius: 0;
  }
}